<div class="modal-header">
    <h3 class="modal-title">add new: {{$ctrl.parent.activeTable.displayName}}</h3>
</div>
<div class="modal-body">
    <form ng-submit="$ctrl.add()">
        <div
            ng-repeat="col in $ctrl.activeTable.columns"
            class="form-group">
            <label
                id="col.sqlName"
                class="control-label"
                for="col.sqlName">{{col.displayName}}</label> <input
                type="text"
                ng-model="$ctrl.item[col.fieldName]"
                class="form-control"
                placeholder="col.fieldName">
        </div>
    </form>
    <pre>{{$ctrl.item | json}}</pre>
</div>
<div class="modal-footer">
    <button
        class="btn btn-primary"
        type="button"
        ng-click="$ctrl.ok()">ok</button>
    <button
        class="btn btn-warning"
        type="button"
        ng-click="$ctrl.cancel()">cancel</button>
</div>