<div class="dashboard-wrapper">
    <div class="col-md-2 dashboard-sidebar-wrapper">
        <div class="dashboard-sidebar">

            <ul class="nav list-group">
                <li ng-repeat="table in $ctrl.schema.tables"><a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>{{table.displayName}}</a></li>
            </ul>

        </div>
    </div>
    <div class="col-md-10 pull-right dashboard-main-wrapper">
        <div class="dashboard-main">

            <div class="page-header">
                <h3>{{$ctrl.currentTableName()}}</h3>
            </div>

            <pre>{{$ctrl.activeTable | json}}</pre>
        </div>

        <div class="footer">hand rolled by nick.</div>
    </div>
</div>