<div class="dashboard-wrapper">
  <div class="col-md-1 dashboard-sidebar-wrapper">
            <div class="dashboard-sidebar">
                <ul class="nav list-group">
                    <li>
                        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>sidebar item 1</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>sidebar item 2</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>sidebar item 9</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>sidebar item 10</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>sidebar item 11</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-11 pull-right dashboard-main-wrapper">
            <div class="dashboard-main">
              <div class="page-header">
                <h3>mmdb admin</h3>
              </div>
              <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. praesent eget magna et ante suscipit lacinia. aenean porttitor velit id pretium blandit.</p>
            </div>
          
            <div class="col-md-12 footer">
              <ul class="nav navbar-nav"><li><a href="">Link</a></li><li><a href="">Link</a></li><li><a href="">Link</a></li></ul>
            </div>
          
        </div>
</div>