<div class="panel panel-stacked panel-success">
    <div class="panel-heading">
        search by <span class="dropdown"> <a data-toggle="dropdown">{{mmdbAdminSearch.activeSearchMode}} <span class="glyphicon glyphicon-menu-down"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="searchMode in mmdbAdminSearch.searchModes"><a class="btn btn-info" ng-click="mmdbAdminSearch.select($index)">{{searchMode}}</a></li>
            </ul>
        </span>
    </div>
    <div class="panel-body animate-switch-container" ng-switch="mmdbAdminSearch.activeSearchMode">
        <div class="animate-switch" ng-switch-when="id">this will be the id search pane...</div>
        <div class="animate-switch" ng-switch-when="data">...and this will be the data search pane</div>
        <div class="animate-switch" ng-switch-default>why am i here? how do i search by {{mmdbAdminSearch.activeSearchMode}}?</div>
    </div>
</div>